.active {
    background-color: rgb(0, 132, 255);
    border-radius: 2rem;
}

.no-active {
    background-color: #ff8400;
    border-radius: 3rem;
}

.img-style{
    width: 40rem;
    height: 40rem;
}
div {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.binding{
    border-radius: 2rem;
    margin-left: 3rem;
}