<h1>Angular Demo</h1>
<app-header></app-header>
<app-navbar></app-navbar>

<!-- String Interpolation -->
<h2>{{Title}}</h2>
<h2>{{dynamic}}</h2>

<img class = "img-style" [src]="imgURL" alt="">

<button [disabled]="isDisabled" >Diable button</button>

<!--  Class Binding -->

<button [class.active] = "isActive"  [class.no-active] = "!isActive"> Click Me </button>

<!-- Style Binding -->
 
 <button [style.backgroundColor] = "isOn ? 'red' : 'green' " class="binding"> click </button> 

 <!--  Event Binding  -->
<div>
<button (click) = "buttonClick()">Click here </button> 

<button (mouseover) = "buttonClick()">Click </button>
<input type = "text" (keyup)="keyenter($event)"> 

<input type = "text" (keyup.enter) = "keyupFiltering(user)" #user id = "UserInput">
</div>
<!-- Two way data binding  -->

<input type="text" [value]="userName" #username (keyup.enter) = "updateUserName(username)">
<p>{{userName}}</p>

<p>today code</p>
<p>334lf34kf34</p>


<router-outlet />
 